# Zend Framework
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# Security : forbid directory listing
Options -Indexes

# PHP config
php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag short_open_tag on

# Apache 2 gzip
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript
